<div class="container-fluid">
  <h1 class="text-center fs-2 mt-4">Restaurant</h1>
  <hr class="w-75 mx-auto">
  <div class="row justify-content-md-center">
    <div class="col-md-6">
      <%= render @restaurant %>
      <%= render @review %>
      <div class="card mb-3 shadow p-3 rounded" style="background-color:rgb(255, 85, 187);">
        <%= simple_form_for([@restaurant, Review.new]) do |f| %>
          <div class="mb-3">
            <%= f.input :content, as: :text, input_html: { rows: 4 }, class: "form-control" %>
          </div>
          <div class="mb-3">
            <%= f.input :rating, as: :select, collection: 1..5, include_blank: false, class: "form-control" %>
          </div>
          <%= f.submit "Submit Review", class: "btn shadow rounded", style: "background-color:#e3f2fd;" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
